<h2 id="title">Welcome to Ember</h2>

{{jane-maps
  id='map'
  sources=sources
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=center
                    hash=false
                    interactive=false)}}
