<h2 id="title">Welcome to Ember</h2>

{{jane-maps
  id='map'
  sources=sources
  initOptions=(hash style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
                    zoom=zoom
                    center=center
                    hash=false
                    interactive=false)}}
